venv/

# Ignore everything in the docs folder except for the specified file types
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*/*.*
docs/*/*/*/*/*/*.*
docs/*/*/*/*/*.*
docs/*/*/*/*.*
docs/*/*/*.*
docs/*/*.*
docs/*.*

!docs/**/*.md
!docs/**/*.pdf
!docs/**/*.png
!docs/**/*.svg
!docs/**/*.jpg
!docs/**/*.jpeg
